html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

// Colors
$orange: #F78536;
$gray: #DFEBED;
$light-blue: #497285;
$dark-blue: #2B4450;
$blue: #3EC1D3;
$cream: #F6F7D7;
$yellow: #FF9A00;
$pink: #FF165D;

.header {
}
.header__nav {
    height: 100px;
    line-height: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    & h1 {
        margin-bottom: 0;
    }
}
.header__subnav {
    height: 50px;
    line-height: 50px;

    & .header__subtitle {
        font-size: 30px;
    }
}

.header__link-nolink {
    text-decoration: none;
    color: $blue;
}

.header__link-nolink:hover {
    text-decoration: none;
    color: $pink;
}

.section__header {
    border-bottom: 2px dashed #DDD;
}

.bg__orange {
    background-color: $orange;
}
.bg__gray {
    background-color: $gray;
}
.bg__light-blue {
    background-color: $light-blue;
}
.bg__dark-blue {
    background-color: $dark-blue;
}
.bg__blue {
    background-color: $blue;
}

// Utility Classes

.utils__center {
    text-align: center;
}
.utils__nolink {
    text-decoration: none;
    color: #AAA;
}
.utils__nolink:hover {
    color: #DDD;
    border-bottom: solid 2px $pink;

    &-emoji:hover {
        border-bottom: 0px;
    }
}

.emoji {
    display: none;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    .emoji {
        display: inline-block;;
    }
}

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
